@import url("https://fonts.googleapis.com/css?family=Lato:300,400,900");

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

ul {
  list-style: none;
}

/* Basic */

body {
  background: #f3f6fa;
  font-family: 'Lato', sans-serif;
  color: #7c8081;
  letter-spacing: 0.025em;
  font-size: 13pt;
  font-weight: 300;
  line-height: 1.75em;
}

strong {
  font-weight: 400;
}

p, ul {
  margin: 0 0 2em 0;
}

a  {
  text-decoration: none;
  border-bottom: dotted 1px;
}

h1, h2, h3, h4, h5, h6 {
  color: inherit;
  font-weight: 300;
  line-height: 1.75em;
  margin-bottom: 1em;
  text-transform: uppercase;
}

h2 {
  font-size: 1.5em;
  letter-spacing: 0.1em;
  margin-bottom: 0;
}

h3 {
  font-size: 1.15em;
  letter-spacing: 0.025em;
}

/* Container */

.container {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

/* Row */

.row {
  display: flex;
  margin-left: -50px;
}

.col {
  padding: 0 0 0 50px;
  text-align: center;
}

/* Section/Article */

header {
  text-align: center;
  padding-top: 7em;
  margin-bottom: 4em;
}

header p {
  padding-top: 1.3em;
}

header h2 {
  padding-top: 1.15em;
} 

header i {
  font-size: 3.5em;
  opacity: 0.35;
}
  
article {
  background: #FFFFFF;
  padding: 3em;
  margin-bottom: 4em;
}

footer {
  padding: 4em;
  background: #E8EEF4;
  color: #7c8081;
  text-align: center;
}

/* Image */

.image {
  width: 100%;
  height: auto;
  margin: 0 0 2em 0;
}

/* Icons */

ul.icons {
  margin-top: 0;
  margin-bottom: 2em;
  padding: 0;
}

ul.icons li {
  display: inline-block;
  line-height: 1em;
  padding-left: 0.5em;
}

ul.icons li:first-child {
  padding-left: 0;
}

ul.copyright {
  font-size: 0.8em;
  line-height: 1em;
  margin-bottom: 0;
}

ul.copyright li {
  display: inline-block;
  margin-left: 1em;
  padding-left: 1em;
  border-left: dotted 1px;
}

ul.copyright li:first-child {
  margin: 0;
  padding: 0;
  border: 0;
}

.circle {
  border-radius: 100%;
  border: 0;
  font-size: 1.25em;
  height: 2.25em;
  width: 2.25em;
  text-align: center;
  line-height: 2.25em !important;
}

.fa-twitter {
  background: #70aecd;
  color: #fff;
}

.fa-facebook-f {
  background: #7490c3;
  color: #fff;
}

.fa-google-plus-g {
  background: #db6b67;
  color: #fff;
}

.fa-github {
  background: #dcad8b;
  color: #fff;
}

.fa-dribbble {
  background: #da83ae;
  color: #fff;
}

/* Buttons */

.button {
  border: solid 1px;
  display: inline-block;
  font-weight: 900;
  letter-spacing: 2px;
  line-height: 3.75em;
  text-align: center;
  text-transform: uppercase;
  padding: 0.5em 0.75em;
  font-size: 0.7em;
  min-width: 12.5em;
  color: inherit;
}

/* Wrapper */

#wrapper {
  background-image: url(images/dark-tl.svg), url(images/dark-tr.svg), url(images/dark-bl.svg), url(images/dark-br.svg);
  background-repeat: no-repeat;
  background-position: top left, top right, bottom left, bottom right;
  padding-bottom: 7em;
  background-size: 25em;
}